@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*{
    margin: none;
    
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    font-family: 'Roboto Mono', Times;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.counter-container{
    text-align: center;
    padding: 20px;
}
.counter{
    font-size: 40px;
    margin-top: 10px;
}
i{
cursor: pointer;
transition: color 0.5s linear ;
}
i:hover{
    color: red;
}
@media (max-width: 600px) {
    body{
        flex-direction: column;
    }
}