*{
    margin: none;
    
    font-family: Arial;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
}
h1{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    transform: translateX(-50%);
}
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    transform: translateX(-50%);
    transition: background-color 0.4s ease ;
}
.left .btn:hover{
    background-color: orange;
}
.right .btn:hover{
    background-color: lightblue;
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}
.left{
    position: absolute;

    width: 50%;
    height: 100%;
    overflow: hidden;
    left: 0;
    background-image: url('cricket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.left::before{
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 166, 0, 0.5);
}

.right{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-image: url('football.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.right::before{
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 204, 255, 0.589);
}
.container.hover-left .left{
    width: 75%;
}
.container.hover-left .right{
    width: 25%;
}

.container.hover-right .left{
    width: 25%;
}
.container.hover-right .right{
    width: 75%;
}
.left, .right, .left::before, .right::before{
    transition: all 1s ease-in-out;
}